@import "./article.css";

.main-area {
  margin: var(--header-height) 0 var(--footer-height) 0;
  padding: 20px;
  background: var(--light);
  color: var(--contrast-text);
  display: grid;
  gap: 10px;
}

@media (min-width: 600px) {
  .main-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .main-area {
    grid-template-columns: repeat(4, 1fr);
  }
}
